<div class="row">
  <div class="container">
    <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-0 homepage_content">
      <h2>About</h2>
      <hr>
      <p>I am a Ruby on Rails developer living in sunny Phoenix, AZ</p>
    </div>
    <div class="col-xs-10 col-xs-offset-1 col-md-3 col-md-offset-0 homepage_content">
      <h2>Blog (<%= Post.all.count %>)</h2>
      <hr>
      <% @posts.each do |post| %>
          <h3><a href="#"><%= link_to post.title, post %></a></h3>
          <p class="date"><%= post.created_at.strftime("%A, %b %d") %></p>
      <% end %>
    </div>
    <div class="col-xs-10 col-xs-offset-1 col-md-3 col-md-offset-0 homepage_content">
      <h2>Projects (<%= Project.all.count %>)</h2>
      <hr>
      <% @projects.each do |post| %>
          <div id ="project_image"><%= link_to image_tag(post.image.url(:small)), post %></div>
          <h3><a href="#"><%= link_to post.title, post %></a></h3>
          <p class="date"><%= post.created_at.strftime("%A, %b %d") %></p>
      <% end %>
    </div>
  </div>
</div>