= form_for @project do |f|
  - if @project.errors.any?
    %h2= pluralize(@project.errors.count, 'error')
    prevented this project from saving:
    %ul
      - @project.errors.full_messages.each do |msg|
        %li= msg

  = f.label :title
  = f.text_field :title

  %br
  %br

  = f.label :image
  = f.file_field :image

  %br
  %br

  = f.label :description, 'Write your project here'
  = f.text_area :description

  %br
  %br

  = f.label :link
  = f.text_field :link

  %br
  %br

  = f.submit
