!!!
%html
  %head
    %title Jared Gray

    %link{ href: 'https://fonts.googleapis.com/css?family=Open+Sans:400,700', rel: 'stylesheet' }

    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1' }
    %meta{ name: 'description', content: 'Ruby on Rails developer based in Phoenix, AZ' }

    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'

    = render 'layouts/ga'

    = csrf_meta_tags

    = favicon_link_tag 'favicon.ico'

  %body{ class: body_class }
    = render 'layouts/nav'

    = yield
