<!DOCTYPE html>
<html>
<head>
  <title>Jared Gray - Ruby on Rails Developer</title>
  <link href='//fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
</head>

<body>
  <div class="se-pre-con"></div>

  <%= render 'layouts/nav' %>

  <%= render 'layouts/error_messages' %>

  <%= yield %>

  <%= render 'layouts/footer' %>

</body>
</html>
